<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ event.name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button type="button" name="" class="btn btn-success" btn-lg btn-block (click)="onEditEvent()">Edit</button>
      </div>
      <div class="col-xs-12">
        <button type="button" name="" class="btn btn-danger" btn-lg btn-block (click)="onDeleteEvent()">Delete</button>
      </div>
    </div>
</div>
