<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!eventForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div style="padding: 20px 0px 0px 0px;" class="col-xs-12">
          <div class="form-group">
            <input type="text" id="name" formControlName="name" class="form-control" placeholder="Name">
          </div>
        </div>
        <div style = "padding: 20px 0px 0px 10px" class="col-xs-4">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy/mm/dd" name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <textarea type="text" id="description" class="form-control" formControlName="description" rows="6" placeholder="Description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
              <ngb-timepicker name="startTime" id="startTime" formControlName="startTime" [meridian]="meridian"></ngb-timepicker>
            </div>
          </div>
          <div class="col-xs-6">
            <p style="padding: 45px 20px 0px 20px">to</p>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <ngb-timepicker name="endTime" id="endTime" formControlName="endTime" [meridian]="meridian"></ngb-timepicker>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>


<!--  -->